// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "orders_buy";


.content_articles {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
  width: 100%;
}

.page-content {
  position: relative;
  z-index: 10;
  // padding-bottom: 50px;
  min-height: calc(100vh - 70px);
}
