.article-box {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin-bottom: 30px;
}

hr {
  border-color: rgba(0,0,0,0.05)
}

.inside-card {
  padding: 0px 20px;
}

.card-show {
  height: 120px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.card-user-show {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.card-show-title {
  font-size: 60px;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.7);
  border: 1px solid rgba(0,173,49,0.6);
  padding: 0px 15px;
  border-radius: 5px;
}
.card-description-show {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.8;
  font-size: 25px;
  font-weight: 300;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.drop {
  margin-top: 20px;
  width: 100px;
  font-weight: 300;
  color: $super-green
}

h3 {
  font-weight: 300;
}

.formassss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price div {
  color: $super-green;
}

.reviews {
    background: white;
    /* border: 1px solid grey; */
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding: 20px;
}

h3#reviews-header {
    margin-top: 0px;
    margin-bottom: 45px;
}

.list-inline.reviews-content {
    background: $light-gray;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

p.rating {
  margin-bottom: auto;
}

.fa-star:before {
  color: orange;
}

.description-show {
  border-right: 1px solid rgba(0,0,0,0.2);
  margin-right: -10px;
}

.description-show h3 {
  color: $super-green;
  font-weight: 300;
}

.description-show p {
  color: rgba(0,0,0,0.6);
  font-weight: 300;
  font-size: 20px;
  padding-right: 15px;
}

.review-show {
  border-right: 1px solid rgba(0,0,0,0.2);
  padding-right: 10px;
  margin-left: 10px
}

.review-show h3 {
  color: $super-green;
  font-weight: 300;
}

.review-list {
  list-style: none;
  padding-left: 0;
}

.the-inner-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: -3px;
}

.review-contain {
  background-color: rgba(250,250,250,0.9);
  z-index: -1;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-weight: 300;
  border: 1px solid #c9c9c9;
  margin-right: 20px;
  margin-bottom: 20px;
}

.review-message {
  padding: 10px 5px;
  font-style: italic;
  color: rgba(0,0,0,0.4);
}

.photo-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: green
}

.review-photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-right: 10px;
}

.checkout-show h3 {
  font-weight: 300;
  color: $super-green;
}

.checkout-contain {
  background-color: rgba(250,250,250,0.9);
  z-index: -1;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-weight: 300;
  border: 1px solid #c9c9c9;
}

.price-per-pouch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.leprix {
  font-weight: 500;
  color: orange;
}

.quantity-to-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
}

.total-price-to-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  padding-bottom: 5px;
  font-size: 22px;
}

.grand-total {
  color: black;
  font-weight: 500;
}

.container-checkout {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  padding-top: 15px;
  border: 1px solid #c9c9c9;
}

.price-and-dollar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $super-green;
  font-weight: 700;
}

#checkout-form {
  text-align: center;
}


