<div class="article-form">
  <div class="container text-center">
    <div class="form-content">
      <h1 class="form-header">Add article</h1>
      <%= render 'form', class: "form-body" %>
    </div>
  </div>
</div>
