<h1>Liste de mes achats</h1>

<ul>
  <% @orders.each do |order| %>
  <li>
    <%= order.quantity %>
    <%= order.confirmed ? "confirmed" : "pending" %>
    <%= order.delivered ? "delivered" : "pending" %>
    <%= @article.title %>
  </li>
  <% end %>
</ul>
