.cards {
  flex-grow: 1;
  margin: 10px;
}

$break-small: 720px;

.card {

  @media screen and (max-width: $break-small) {
    width: 300px;
  }
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c9c9c9
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 17px;
  opacity: 0.9;
  font-weight: lighter;
  padding: 5px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#map {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3)
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#add {
  background-color: $super-green;
  color: white;
}

#add_icon {
  opacity: 1;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

